@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	/* shifted welcome to widgets top left */
	max-width: 20%;
	text-align: left;
width: 100%;
float: left;
}

footer {

}

header {
text-align: left;
width: 100%;
float: left;

}

img {
	max-width: 75%;
}

main {
	max-width: 80%;
	text-align: left;
width: 100%;
float: left;
}

nav {
width: 30%;
}

#copyright {
	font-size: 80%;
}

#main-container {

}