@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	/*  added padding and margin */
	font-size: 16px;
	font-family: 'Sanchez', serif;
	padding: 20px;
    margin: 20px;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	/* shifted welcome to widgets top left */
    float: left;
width: 20%;
float: left;
}

footer {
text-align: left;
}

header {
text-align: left;
width: 100%;

}
/* adjusted image more centered */
img {
	max-width: 100%;
}
ul{
	text-align: left;
}
/* shifted bullet points together */
main {
	max-width: 60%;
	text-align: left;
width: 100%;
float: left;
}

nav {
	text-align: center;
    width: 20%;
    float: left;
}

#copyright {
	font-size: 80%;
}

#main-container {

}